.paper-background {
    mix-blend-mode: multiply; 
    pointer-events: none; 
    }
.w-embed:after, .w-embed:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.w-embed:after {
    clear: both;
}
.w-embed:after, .w-embed:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.main a{
	color:hsl(30,100%,50%);
	font-size: 80pt;
/*	font-family: sans-serif;*/
}
.main a:hover{
	color:#00AAAA;
	font-size: 80pt;
}
p.main{
	width:1700px;
	height:500px;
	background-color:black ;
/*	margin: 50px;*/
/*	font-size:48pt;*/
}
a.title{
	font-size: 50pt;
}