.bottoon{
    
    position: absolute;
    z-index: 4000;
    top: 263px;
    left: 1624px;
}
a{
     text-decoration: none;
}
.lalalalala{
top: 0px;
    position: absolute;
    z-index: 100;
    width: 800px;
    height: 800px;
  	font-weight:blod；
}
body {
    background: #EEE;
    font-family: sans-serif;
    line-height: 1.45;
}
.chessboard{
   filter: invert(1);
    height: 2133px;
    width: 1688px;;
    position: relative;
    opacity: 0.5;
    margin-top: 200px;

}

.parallelogram{
    width: 1253px;
    height: 776px;
    transform: skew(135deg);
    color: pink;
    background: #c87483;
    z-index: 1000;
    position: absolute;
    top: 1095px;
    left: 415px;
    float: right;
    opacity: 0.76;
}
p{
    width: 575px;
    height: 1001px;
    position: absolute;
    top: 1496px;
    left: 356px;
    z-index: 2200;
    color: white;
    font-size: 27px;
    font-weight:bolder;
    font-family:sans-serif;

}
/*.container{
    overflow:hidden;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    z-index: 1000;
    color: pink;
}

.shaped{
  float:left;
  height:100vh;
  width:40vw;
  float:right;
  background: black url（../images/eiffel.jpg） center top no-repeat;
  background-size:cover;
    shape-outside: polygon（0 0, 100% 0, 100% 100%,30% 100%）;
  shape-margin: 20px;
   clip-path: polygon（0 0, 100% 0, 100% 100%,30% 100%）;
}*/
.main img{ 
	position:absolute;
	top:0px;
	height: 2329px;
	float:top;
	z-index: -1;
	
}
.queen img{
    position: absolute;
    top:1000px;
    left:1000px;
    z-index: 2000;
    width:400px;
}
.king img{
    position: absolute;
    top:1300px;
    left:800px;
    z-index: 2000;
    width:500px;
}
.handqueen img{
    position: absolute;
    top: 1077px;
    left: 7px;
    z-index: 1100;
    opacity: 0.86;
    width: 681px;

}
.handking img{
    position: absolute;
    top: 200px;
    left: 989px;
    z-index: 1;
    width: 681px;

}

/*body {
    background: #EEE;
    font-family: sans-serif;
    line-height: 1.45;
}*/
@media print{
        .chessboard{
            position: absolute;
/*            page-break-after: always;*/
        }

        .main{
            position: absolute;
            top:0px;
        }

        .lalalalala{
            position: absolute;

        }

}