* {
	box-sizing: border-box;
}

body {
	background: #DADADA;
}


/* if you want to change the background of your canvas, do it here */

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
	border: solid black 5px;
}


/* this is where you can style the objects in your still life */

.square{
	width: 891px;
    height: 118px;
    background: #d5cec9;
    position: absolute;
    top: 429px;
    left: 0px;
    z-index: 1;
}
.egg {
   display:block;
   width: 250px;
   height: 300px;
/*   border:1px solid black;*/
   background-color:lightblue;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
   position: absolute;
   top:200px;
   left:170px;
   opacity: 0.65;
   z-index: 5;
}

.oval{
	width: 165px;
    
    height: 52px;
    background: #77adbe;
    border-radius: 50%;
    transform: rotate(28deg);
    position: absolute;
    left: 204px;
    z-index: 9;
    top: 119px;
}

.wrapper {
  position: relative;
  width: 359px;
  height: 121px;
  background: lightblue;
  overflow: hidden;
  top:120px;
  z-index: 7;
  opacity: 0.65;
  
}

.left {
  position: absolute;
  left: -948px;
  top: 50%;
  width: 1179px;
  height: 536px;
  background: #fff;
  border: 6px solid white;
  border-radius: 50%;
  transform: translateY(-50%);
  
}
.biubiubiu {
  position: relative;
  width: 349px;
  height: 121px;
  background: lightblue;
  overflow: hidden;
  top:-1px;
    z-index: 8;
    left:359px;
    opacity: 0.65;
}

.right{
	position: absolute;
  
  top: 50%;
  width: 1179px;
  height: 536px;
  background: #fff;
  border: 6px solid white;
  border-radius: 50%;
  transform: translateY(-50%);


}
.triangle-topright {
    width: 0;
    height: 0;
    border-top: 100px solid #fff;
    border-left: 100px solid transparent;
    position: absolute;
    top: 110px;
    left: 286px;
    z-index: 8;
   
}

.leaf{
    width: 69px;
    height: 119px;
    border-radius: 80% 0;
    background: #2c792a;
    position: absolute;
    z-index: 3;
    top: 330px;
    left: 268px;
    /* transition: rotate; */
    transform: rotate(20deg);
}

.semi-circle{
	border-radius: 0 0 100px 100px;
    width: 200px;
    height: 100px;
    background-color: #ad4c13;
    position: absolute;
    z-index: 2;
    left: 195px;
    top: 376px;
}
.square2{
	width: 200px;
    height: 200px;
    background: #fff;
    position: absolute;
    top: 41px;
    left: 208px;
    z-index:6 ;
}










