* {
	box-sizing: border-box;
}

body {
	background: #DADADA;
}


/* if you want to change the background of your canvas, do it here */

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
	border: solid black 5px;
}


/* this is where you can style the objects in your still life */

.square{
	width: 891px;
    height: 118px;
    background: #d5cec9;
    position: absolute;
    top: 429px;
    left: 0px;
    z-index: 1;
}
.egg {
   display:block;
   width: 250px;
   height: 300px;
/*   border:1px solid black;*/
   background-color:lightblue;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
   position: absolute;
   top:200px;
   left:170px;
   opacity: 0.65;
   z-index: 5;
}

.oval{
	width: 165px;
    
    height: 52px;
    background: #77adbe;
    border-radius: 50%;
    transform: rotate(28deg);
    position: absolute;
    left: 204px;
    z-index: 9;
    top: 119px;
}

.wrapper {
  position: relative;
  width: 359px;
  height: 121px;
  background: lightblue;
  overflow: hidden;
  top:120px;
  z-index: 7;
  opacity: 0.65;
  
}

.left {
  position: absolute;
  left: -948px;
  top: 50%;
  width: 1179px;
  height: 536px;
  background: #fff;
  border: 6px solid white;
  border-radius: 50%;
  transform: translateY(-50%);
  
}
.biubiubiu {
  position: relative;
  width: 349px;
  height: 121px;
  background: lightblue;
  overflow: hidden;
  top:-1px;
  z-index: 8;
  left:359px;
  opacity: 0.65;
}

.right{
	position: absolute;
  
  top: 50%;
  width: 1179px;
  height: 536px;
  background: #fff;
  border: 6px solid white;
  border-radius: 50%;
  transform: translateY(-50%);


}
.triangle-topright {
    width: 0;
    height: 0;
    border-top: 100px solid #fff;
    border-left: 100px solid transparent;
    position: absolute;
    top: 110px;
    left: 286px;
    z-index: 8;
   
}

.leaf{
    width: 69px;
    height: 119px;
    border-radius: 80% 0;
    background: #2c792a;
    position: absolute;
    z-index: 3;
    top: 330px;
    left: 268px;
    /* transition: rotate; */
    transform: rotate(20deg);
}

.semi-circle{
	border-radius: 0 0 100px 100px;
    width: 200px;
    height: 100px;
    background-color: #ad4c13;
    position: absolute;
    z-index: 2;
    left: 195px;
    top: 376px;
}
.square2{
	width: 200px;
    height: 200px;
    background: #fff;
    position: absolute;
    top: 41px;
    left: 208px;
    z-index:6 ;

}

.circle{
	width: 90px;
    height: 90px;
    position: absolute;
    z-index: 8;
    top:274px;
    left:426px;
    background:#d1b277;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
      background-image: radial-gradient(at 34px 33px,rgb(252,238,211),rgb(205,175,119));
}
.circle-2{
	width: 90px;
    height: 90px;
    position: absolute;
    z-index: 9;
    top:289px;
    left:465px;
    background:#edd19c;
    border-radius: 50px;
      background-image: radial-gradient(at 34px 33px,rgb(252,238,211),rgb(205,175,119));
}
.circle-3{
	width: 95px;
    height: 95px;
    position: absolute;
    z-index: 9;
    top:350px;
    left:439px;
    background:#edd19c;
    border-radius: 50px;
      background-image: radial-gradient(at 34px 33px,rgb(252,238,211),rgb(205,175,119));
}
.circle-4{
	width: 105px;
    height: 105px;
    position: absolute;
    z-index: 10;
    top:294px;
    left:512px;
    background:#edd19c;
    border-radius: 90px;
    background-image: radial-gradient(at 34px 33px,rgb(252,238,211),rgb(205,175,119));

}
.circle-5{
	width: 90px;
    height: 90px;
    position: absolute;
    z-index: 7;
    top:350px;
    left:501px;
    background:#edd19c;
    border-radius: 90px;
    background-image: radial-gradient(at 34px 33px,rgb(252,238,211),rgb(205,175,119));

}
.circle-6{
	width: 90px;
    height: 90px;
    position: absolute;
    z-index: 6;
    top:340px;
    left:570px;
    background:#edd19c;
    border-radius: 90px;
    background-image: radial-gradient(at 34px 33px,rgb(252,238,211),rgb(205,175,119));

}
.circle-7{
	width: 90px;
    height: 90px;
    position: absolute;
    z-index: 5;
    top:280px;
    left:539px;
    background:#edd19c;
    border-radius: 90px;
    background-image: radial-gradient(at 34px 33px,rgb(252,238,211),rgb(205,175,119));

}
.circle-8{
	width: 100px;
    height: 100px;
    position: absolute;
    z-index: 4;
    top:259px;
    left:549px;
    background:#edd19c;
    border-radius: 90px;
    background-image: radial-gradient(at 34px 33px,rgb(252,238,211),rgb(205,175,119));

}
.circle-9{
	width: 100px;
    height: 100px;
    position: absolute;
    z-index: 4;
    top:261px;
    left:490px;
    background:#edd19c;
    border-radius: 90px;
    background-image: radial-gradient(at 34px 33px,rgb(252,238,211),rgb(205,175,119));

}
/*.semi-circle-1{
	border-radius: 100px 100px 0 0;
    width: 90px;
    height: 45px;
    background-color: #edd19c;
    position: absolute;
    z-index: 6;
    left: 508px;
    top: 398px;
    background-image: radial-gradient(at 34px 33px,rgb(252,238,211),rgb(205,175,119));

}*/

.oval-1 {
    width: 70px;
    height: 19px;
    background: #ae8335;
    border-radius: 186px / 50px;
    position: absolute;
    left: 505px;
    z-index: 5;
    top: 277px;
    transform: rotate(-3deg);

}
.oval-2 {
    width: 238px;
    height: 40px;
    background: lightblue;
    border-radius: 266px / 50px;
    position: absolute;
    left: 435px;
    z-index: 5;
    top: 421px;
}
.oval-3 {
    width: 238px;
    height: 40px;
    background: #8cbac9;
    border-radius: 266px / 50px;
    position: absolute;
    left: 435px;
    z-index: 4;
    top: 462px;
}
.rectangle {
    width: 238px;
    height: 41px;
    background: #8cbac9;
    position: absolute;
    left: 435px;
    z-index: 4;
    top: 444px;
}
 
.flame {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    /*background: #FFFFFF;*/
    position: relative;
    z-index: 10;
	top: -216px;
   	left: 97px;
}
        
.flame div:nth-child(-n+6) {
	width: 0px;
	height: 0px;
   	background: #D81818;
    border-radius: 20%;
    transform: rotateZ(45deg);
    position: absolute;
    left: 45%;
    top: 60%;
}
 
.flame div:nth-child(1) {
    animation: rhombus 6s linear Infinite;
}        
 
.flame div:nth-child(2) {
    animation: rhombus1 6s linear Infinite;
    animation-delay: 1s;        
}        
 
.flame div:nth-child(3) {
    animation: rhombus 6s linear Infinite;
    animation-delay: 2s;       
}
.flame div:nth-child(4) {
    animation: rhombus1 6s linear Infinite;
    animation-delay: 3s;
}
.flame div:nth-child(5) {
    animation: rhombus 6s linear Infinite;
    animation-delay:4s;
}
.flame div:nth-child(6) {
   	animation: rhombus1 6s linear Infinite;
    animation-delay:5s;
}        


@keyframes rhombus {
    0% {
        width: 10px;
        height: 10px;
        transform: translateY(0px) translateX(0px) rotateZ(45deg);
		}
	100% {
    	width: 40px;
        height: 40px;
        transform: translateY(-200px) translateX(-30px) rotateZ(45deg);
        opacity:0.2;
          }
}
 
@keyframes rhombus1 {
    0% {
        width: 10px;
        height: 10px;
        transform: translateY(0px) translateX(0px) rotateZ(45deg);
        }   
    100% {
        width: 40px;
        height: 40px;
        transform: translateY(-200px) translateX(30px) rotateZ(45deg);
        opacity:0.2;
        }
}

