/*.circle{
	transition:all 0.5s cubic-bezier(.48,.16,.42,.1,.25);
	width:200px;
	height:200px;
	border-radius: 60%;
	background-color: coral;
}
.circle:hover{
	width:400px;
	height:400px;
}
.gradient{
	width:500px;
	height:200px;
	background: radial-gradient(wllipse at bottom left,purple,green,pink,);
}*/

.sun{
	background:radial-gradient(farthest-corner at 0px 0px,yellow);
	transition: background 1s ease-in;
	background-size: 250px 250px;
	background-position: -50px -50px;
	width:200px;
	height:200px;
	border-radius: 50%;

}

.sun:hover{
	background-position: 0px 0px;
}