/*.circle{
	transition:all 0.5s cubic-bezier(.48,.16,.42,.1,.25);
	width:200px;
	height:200px;
	border-radius: 60%;
	background-color: coral;
}
.circle:hover{
	width:400px;
	height:400px;
}
.gradient{
	width:500px;
	height:200px;
	background: radial-gradient(wllipse at bottom left,purple,green,pink,);
}*/


/*.sun{
	background:radial-gradient(farthest-corner at 0px 0px,yellow,orange);
	transition: background 1s ease-in;
	background-size: 250px 250px;
	background-position: -50px -50px;
	width:200px;
	height:200px;
	border-radius: 50%;

}

.sun:hover{
	background-position: 0px 0px;
}
.watermelo{
	background:radial-gradient(circle at center,lightpink,green);
	transition: background 2s ease,
				left 3s ease,
				top 3s ease;
	background-size: 300px 300px;
	background-position: 0px -150px;
	border-radius: 0 0 1000px 1000px;
	width:300px;
	height:150px;
	position:absolute;
	top:100px;
	left:0px;
}
.watermelo:hover{
	background-size: 500px 500px;
	background-position: -100px -100px;
	left:300px;
	top:100px;
}

*/
/*.blob{
	animation:blob 2s ease infinite alternate none;
	width:200px;
	height:200px;
	border-radius: 50%;
	background-color: pink;
}
@keyframes blob{
	0%{border-radius: 0%;
		background-color: pink;
		transform: rotate(0deg);
	}
	50%{border-radius: 0 50 50 0;
		background-color: orange;
		transform: rotate(45deg);
	}

	100%{border-radius: 100%;
		background-color: green;
		transform: rotate(90deg);
	}
}*/
#star-five{
	animation: ;
	height:0px;
	
}


















