#main{
	width: 100vw;
	height:100vh;
	background-color: black;
}
.blue{
	width:50%;
	height:50%;
	background-color: blue;
}

#red{
	width:50%;
	height:50%;
	background-color: red;
}

#main div.blue p{
	clolr:white;
	font-family:sans-serif;
	font-size:24pt;
}

div.blue  p{
	color:gray;
	font-size:48pt;
}