#{
	/*chushihua*/
	margin：0
	padding:0;

}
body{
	/*chaungkougaodu*/
	height:100vh;

	display:flex;
	justify-content:center ;
	align-items: center;
	--c:red;

}
svg{
	width:200px;
	position:relative;
	z-index: 10;

}
#heart{
	fill:#eee;
	stork:var(--c);
	stroke-width: 40px;
	stroke-dasharray: 2600;
}