body{
  width:100vw;
  height: 100vh;
  background-color: pink;
  font-size: 10px;
}

.clock{
  width: 30rem;
  height: 30rem;
  position: relative;
  border: 2px black solid;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

#hour;
#minute;
#second{
  position: absolute;
  background-color: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour{
  width: 1.6%;
  height: 20%;
  top: 19%;
  left:48.9%;
}
#minute{
  width: 1.2%;
  height: 30%;
  top: 19%;
  left:48.9%;
}
#second{
  width: 1%;
  height: 40%;
  top: 9%;
  left:49.25%;
}